# Dependencies
node_modules/

# Environment variables
.env

# Build output (TypeScript)
*.js
*.js.map
*.d.ts
*.d.ts.map
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo